.App {
	height: 500px;
	overflow-y: auto;
}


figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}
ul {
	list-style-type: none; 
	margin:0; 
	padding:0; 
}
