.scrollyteller {
	position: relative;
}
.scrollyteller .scroll-container {
	position: relative;
}
.scrollyteller .scroll-container.no-pointer {
	pointer-events: none;
}
.scrollyteller figure.sticky {
	color: white;
	height: 500px;
	text-align: center;
	width: 100%;

	position: -webkit-sticky;
	position: sticky;
	top: 0;
}


.scrollyteller figure.sticky h2 {
	font-size: 6rem;
	padding-top: 25%;
}

.scrollyteller .step {
	margin: 75% auto;
	max-width: 400px;
	text-align: center;
}
.scrollyteller .step > p {
	margin-bottom: 3px;
}

.scrollyteller .step:last-of-type {
	background-color: grey;
	margin-bottom: 10%;
}